#aboutMeDiv1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 75%;
}

#profPersTitleDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
}

#aboutMeDiv1 img {
    width: 25%;
    height: 25%;
}

#profPersBtnDiv {
    display:flex;
    flex-direction: row;
    height: 50px;
    align-items: flex-end;
}

#persListsWrapperDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    width: 75%;
}

#sportsWrapperDiv {
    float:left;
}

#hobbiesWrapperDiv {
    float: right;
}

#sportsWrapperDiv #hobbiesWrapperDiv {
    width: 50%;
}

.activities-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 5px;
}

.activity-header {
    width: 80%;
}

.activity-aside {
    width: 20%;
}


